# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments and Secrets
.env
.venv
env/
venv/
ENV/

# Databases
*.db
*.sqlite
*.sqlite3

# Testing cache
.pytest_cache/
.coverage
htmlcov/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
